<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://images.unsplash.com/photo-1696439400931-895d7a304f4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1585&q=80"
      alt="Sunset"
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sequi odit,
      velit temporibus cupiditate ullam sunt obcaecati, itaque voluptatem
      dolores, dicta officiis reiciendis aut corrupti optio deserunt iste saepe
      ducimus.
    </p>
  </div>
</div>
